<template>
<div id="AllProduct">
    <div v-if="location == '/'" class="card-deck" >
        <div class="card" v-for="product in products" :key="product.title">
            <div class="card-body">
                <a :href="/product/+product.id"><h5 class="card-title">{{product.title}}</h5></a>
                <p class="card-text">Type : {{product.type}} </p>
                <p class="card-text"> {{product.description}} </p>
                <p class="card-text"><small class="text-muted"> Prix :{{product.price}} $</small></p>
            </div>
        </div>
    </div>

    <div class="card" v-if="location != '/'">
        <div class="card-body">
            <a href="/"><h5 class="card-title">{{products[location.substr(9,10)-1].title}}</h5></a>
            <p class="card-text">Type : {{products[location.substr(9,10)-1].type}} </p>
            <p class="card-text"> {{products[location.substr(9,10)-1].description}} </p>
            <p class="card-text">Statu : {{products[location.substr(9,10)-1].state}} </p>
            <p class="card-text"><small class="text-muted">Prix :{{products[location.substr(9,10)-1].price}} $</small></p>
        </div>
    </div>
</div>

</template>

<script>
export default {
  name: 'AllProduct',
  props: {
    msg: String
  },
    data () {
        return {
            products: null,
            location : window.location.pathname
        }
    },
    mounted () {
        const axios = require('axios');
        axios
            .get('http://localhost:8000/api/product')
            .then(response => (this.products = response.data))
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
